:root{
    --colore1: #E2DADB;
    --colore2: #86BBD8;
    --colore3: #2F4858;
    --colore4: #F6AE2D;
    --colore5: #F26419;
    --colore6: #B8D8D8;
    --colore7: #7A9E9F;
    --colore8: #4F6367;
    --colore9: #EEF5DB;
    --colore10: #FE5F55;
}
/* html {
    color: #F26419;
} */
/* mobile first */
section {
    background-color: var(--colore5);
    color: white;
}
/*
#elenco{
    background-color: #F6AE2D;
}
.bg-red{
    background-color: red;
}
ul{
    background-color: #86BBD8; !important
}
*/
ul > li span, section address{
   color: var(--colore1); 
}
div{
    background-color: aqua;
}
li + li{
    background-color: var(--colore1);
}
p + div{
    background-color: var(--colore4);
}
form[method="POST"]{
    border: 2px dashed var(--colore1);
}
a:link{
    color: var(--colore8);
}
a:hover{
    color: var(--colore10);
}
a:active{
    color: var(--colore3);
}
@media screen and (min-width:576px){
    section{
        background-color: var(--colore1);
    }
}
@media screen and (min-width:768px){
    section{
        background-color: var(--colore2);
    }
}
@media screen and (min-width:992px){
    section{
        background-color: var(--colore3);
    }
}
@media screen and (min-width:1200px){
    section{
        background-color: var(--colore4);
    }
}
