/*smarphone + generale*/
#logo{
   text-align: center; 
}
article{
    border: 1px solid black;
    padding: 5px;
}
#primopiano{
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 576px) {
    /*tablet*/
    #primopiano{
        flex-direction: row;
        justify-content: space-evenly ;
        flex-wrap: wrap;
    }
    #primopiano article{
        width: 48%;
    }
}
@media screen and (min-width: 992px) {
    /*desktop*/
    #primopiano{
        flex-direction: row;
        justify-content: space-between ;
        flex-wrap: nowrap;
    }
}
