:root{
    --colore1: #E2DADB;
    --colore2: #86BBD8;
    --colore3: #2F4858;
    --colore4: #F6AE2D;
    --colore5: #F26419;
    --colore6: #B8D8D8;
    --colore7: #7A9E9F;
    --colore8: #4F6367;
    --colore9: #EEF5DB;
    --colore10: #FE5F55;
}