html{
    font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Rubik Burned', system-ui;
    text-align: center;
}
input[type=text], input[type=password], button{
    border-radius: 3px;
    background-color: transparent;
    padding: 3px;
}
button{
    min-width: 10em;
}
.row{
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    align-items: center;
    /* justify-content: space-around; */
}
form{
    display: inline-block;
    border: 1px solid #c2c2c2;
    padding: 1em;
    border-radius: 3px;
}
section#modulo{
    display: flex;
    justify-content: center;
}
form > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.sticky{
    position: sticky;
    top: 0px;
    margin: 0 auto;
}
.button-container{
    height: 1000vh;
}
.top {
    background-color: blueviolet;
    padding: 1rem;
    z-index: 1000; /* Aggiunto z-index per garantire che il pulsante sia sopra gli altri elementi */
}
@media screen and (min-width:768px) {
    .row{
        flex-direction: row;
    }
    form > div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    h1,h2,h3,h4,h5,h6{
        text-align: left;
    }
}