:root{
    --color-brand-customer: #3939de;
    --size-font-default: 16px;
}
/* h1{
    background-color: rebeccapurple;
    color: white;
} */
/* mobile first */
h2{
    color: lightblue;
}
h3{
    color: green;
}
.text-blue{
    color: blue;
}
#titolo-numero-2{
    color: chartreuse !important;
}
*{
    color: chocolate;
}
div#primopiano{
    background-color: blueviolet;
}
/* spazio = discendenza */
/* > = figlio diretto */
nav#menu-principale li, div > span{
    font-size: var(--size-font-default);
}
/* ~ = fratelli ALT+126 */
li~li{
    background-color: cadetblue;
}
/* + = fratelli adiacenti */
header+span{
    background-color: chartreuse;
}
h1[lang="en"], nav[lang="en"]{
    display: none;
}
@media screen and (min-width: 576px) {
    h2{
        color: cyan;
    }
}
h4{
    color: var(--color-brand-customer);
}
a{
    color: var(--color-brand-customer);
}
@media screen and (min-width: 768px) {
    h2{
        color: blue;
    }
}
@media screen and (min-width: 992px) {
    h2{
        color: blueviolet;
    }
}
@media screen and (min-width: 1200px) {
    h2{
        color: grey;
    }
}
